.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    background-color: rgb(225, 220, 243);
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
}

.title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-radius: 10px;
    width: 40%;
    padding: 20px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 16px;

}

.captcha {
    display: flex;
    height: 30%;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #d7d2d2ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);



}
#box1, #box2 {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}
button {
    background-color: #4CAF50;
    color: rgb(253, 253, 253);
    flex-direction: column;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}